### Tuplas
Tuplas (tipo tuple)
Uma tupla (tuple) em Python é uma sequência imutável de valores de qualquer tipo. Para criar uma tupla, lista-se uma sequência de valores separados por vírgulas e, opcionalmente, entre parênteses.

Tuplas são úteis para representar registros (mas sem atribuir nomes aos campos). Um registro é uma coleção de valores relacionados. Num registro representado como uma tupla, é a posição do valor dentro da tupla que determina o seu significado.

In [6]:
aluno1 = (198834, "Alberto Messias", 41, "Ciência da Computação")   # primeira tupla
aluno2 = 1984727, "Roberto Silva", 25, "Educação Física"   # segunda tupla (sem parênteses!)

print("Primeira tupla: ", aluno1, "Tipo: ", type(aluno1))
print("Segunda tupla: ", aluno2, "Tipo: ", type(aluno2))

print("Tamanho da primeira tupla: ", len(aluno1))

print("Valor de uma posição da primeira tupla: ", aluno1[1])

print("Uma fatia da segunda tupla: ", aluno2[1:3])

print("Todos os elementos da segunda tupla: ")
for elemento in aluno2:
    print(elemento)

Primeira tupla:  (198834, 'Alberto Messias', 41, 'Ciência da Computação') Tipo:  <class 'tuple'>
Segunda tupla:  (1984727, 'Roberto Silva', 25, 'Educação Física') Tipo:  <class 'tuple'>
Tamanho da primeira tupla:  4
Valor de uma posição da primeira tupla:  Alberto Messias
Uma fatia da segunda tupla:  ('Roberto Silva', 25)
Todos os elementos da segunda tupla:
1984727
Roberto Silva
25
Educação Física

Temos as seguintes as operações com tuplas:

- indexação(t[i]);
- fatiamento (t[i:j:k]);
- comprimento (len(t));
- pertinência (x in t ou x not in t);
- percorrimento com laço (for x in t);
- concatenação (t + s);
- replicação (t * n);
- mínimo (min(t)) e máximo (max(t))

### Atribuição de tuplas:

In [3]:
aluno = (198834, "Alberto Messias", 41, "Ciência da Computação")
mat, nome, idade, curso = aluno   # atribuição de tupla
print("Matrícula: ", mat)
print("Nome: ", nome)
print("Idade:", idade)
print("Curso:", curso)

Matrícula:  198834
Nome:  Alberto Messias
Idade: 41
Curso: Ciência da Computação

### Percorrendo com laço:

In [5]:
alunos = [("Sandro", 23), ("Alberto", 41), ("Arthur", 22)]    # lista de tuplas de alunos
for nome_aluno, idade_aluno in alunos:
    print(nome_aluno, idade_aluno)

Sandro 23
Alberto 41
Arthur 22

### Named Tuples
Named Tuples são objetos de fácil criação e leves. Instâncias de Named Tuples podem ser referenciadas utilizando variáveis. Elas podem serem utilizadas como uma espécie de estrutura para agruparmos dados.

In [8]:
from collections import namedtuple
Ponto = namedtuple('Ponto', 'x y')
p1 = Ponto(1.7, 7.0)
p2 = Ponto(3.7, 1.8)
print (p1)
print (p2)

Ponto(x=1.7, y=7.0)
Ponto(x=3.7, y=1.8)

In [10]:
Cor = namedtuple('Cor', ['red', 'green', 'blue'])
cor = Cor(55,155,255)
print(cor) 
print(cor.red)

Cor(red=55, green=155, blue=255)
55

### Dicionários 
o dict (de dictionary, ou dicionário em português) é usado para representar coleções.

Um dicionário é um tipo abstrato de dados que associa uma chave a um valor. A chave precisa ser única, ou seja, não pode haver chaves repetidas dentro do dicionário. A chave também deve ser imutável, ou seja, uma vez criada, ela permanece a mesma. Portanto, pode-se usar como chave strings, números e tuplas, mas não listas. Já o valor pode ser de qualquer tipo do Python.

In [11]:
aluno = {
   "nome":"Alberto",
   "idade":41,
   "curso":"Ciência da Computação"
}
print (aluno)

{'nome': 'Alberto', 'idade': 41, 'curso': 'Ciência da Computação'}

In [14]:
print (aluno)
print (aluno["nome"])
print (aluno["curso"])

{'nome': 'Alberto', 'idade': 41, 'curso': 'Ciência da Computação'}
Alberto
Ciência da Computação

In [15]:
for chave in aluno: # Percorre os valores do dicionário
   print(aluno[chave])

Alberto
41
Ciência da Computação

In [16]:
for p in aluno.values(): # Percorre os valores do dicionário
   print(p) #

Alberto
41
Ciência da Computação

Podemos adicionar um novo atributo ao dicionário:

In [19]:
aluno["semestre"]=2

In [21]:
print (aluno)

{'nome': 'Alberto', 'idade': 41, 'curso': 'Ciência da Computação', 'semestre': 2}

In [22]:
aluno.update({'semestre':3})
print (aluno)

{'nome': 'Alberto', 'idade': 41, 'curso': 'Ciência da Computação', 'semestre': 3}